<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="title">
          <%= @form.created_at.strftime("%b %d, %Y %I:%M %p")%> -  <%= @form.user.full_name %> - <%= @form.category %> form
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Question</th>
              <th scope="col">Customer Answer</th>
            </tr>
          </thead>
          <tbody>
            <% @data.each do |label, answer| %>
              <tr>
                <td>
                  <%= label %>
                </td>
                <td>
                  <%= answer %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-6">
    <% if @comments.any? %>
      <h3 style="margin-top:0px;">Comments</h3>
      <% @comments.each do |comment| %>
      <div class="card" style="border-top:5px solid #24E4FF">
        <div class="card-body">
          <p class="card-text"><%= comment.text %></p>
        </div>
        <div class="card-footer text-muted"> 
          <%= comment.user.full_name %> - <%= comment.created_at.strftime("%m/%d/%Y") %> - <%= comment.created_at.strftime("%l:%M %P") %>
        </div>      
      </div>
      <% end %>
    <% end %>  
    <%= render 'comment_form' %>
  </div>
</div>