<%= simple_form_for [@organization, @group, @department] do |f| %>
  <%= f.input :group_id, as: :hidden, input_html: {value: @group.id} %>
  <%= f.input :name %>
  <%= f.label "icon:" %>
  <% if f.object.icon.present? %>
    <span class="icon-span">
      <ion-icon name="<%= f.object.icon %>" style="font-size:30px;"></ion-icon>(<%= f.object.icon %>)
    </span>
  <% else %>
    <span class="icon-span">
     (none)
    </span>
  <% end %>
  <%= link_to 'Select Icon', modal_icon_select_path,  {:remote => true}  %>
  <%= f.input :icon, as: :hidden %>
  <%= f.association :users, collection: @users, as: :check_boxes, label_method: :full_name %>
  <%= f.submit :submit, class:"btn btn-space btn-primary" %>
<% end %>