<% if current_user.has_role?(:admin) %>
  <div class="row" style="margin-bottom:10px;">
    <div class="col-12 text-right">
      <%= link_to  "+ Add Page", new_organization_page_path(@organization), {:class => "btn btn-primary"} %>
    </div>
  </div>
<% end %>
<div class="row">
  <% @pages.each do |page| %>
  <div class="col-lg-3">
    <div class="card card-border-color card-border-color-primary">
      <div class="card-header card-header-divider"><%= page.name %></div>
      <div class="card-body">
        <% if  page.screenshot.attached? %>
          <%= image_tag page.screenshot.variant(resize: "300"), class:"card-img-top", style:"border: 1px solid #ccc; margin-bottom:10px;" %>
        <% end %>
        <p>
          <span class="mdi mdi-chart" style="margin-right:7px;"></span>
          <%= page.page_impressions.count %> page views
        </p>
        <p>
          <span class="mdi mdi-accounts" style="margin-right:7px;"></span>
          <%= page.users.distinct.count %> viewed this
        </p>
        <p>
          <span class="mdi mdi-chart" style="margin-right:7px;"></span>
          <%= page.page_impressions.where('updated_at > ?', 30.days.ago).count %> page views in last 30 days
        </p>
        <p>
          <span class="mdi mdi-accounts" style="margin-right:7px;"></span>
          <%= page.users.distinct.where('page_impressions.updated_at > ?', 30.days.ago).count %> viewed in the last 30 days
        </p>        
      </div>
    </div>
  </div>
  <% end %>
</div>