
<style>
video {
  position: absolute;
  z-index: 1;
  top: 0;
  width:100%;
  height:100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity:0.7;
}
.container-fluid {
  z-index: 2;
  position: relative;
}
</style>

<script>
function deferVideo() {

    //defer html5 video loading
  $("video source").each(function() {
    var sourceFile = $(this).attr("data-src");
    $(this).attr("src", sourceFile);
    var video = this.parentElement;
    video.load();
  });

}
window.onload = deferVideo;



</script>
<div class="be-wrapper be-login">
  <div class="be-content">
    <%= video_tag(['car_bg.mp4', 'car_bg.webm', 'car_bg.ogv'], autoplay:true, muted:true, loop:true) %>
    <div class="main-content container-fluid">
      <div class="splash-container">
        <div class="card card-border-color card-border-color-primary">
          <div class="card-header">
            <%= image_tag("genie.png", size: "80", class: "logo-img") %>
            <h2>Dealership Genie</h2>
            <span class="splash-description">Please enter your user information</span>
          </div>
          <div class="card-body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', autocomplete: false, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class:'form-control' %>
              </div>
              <div class="form-group row login-tools">
                <div class="col-6 login-remember">
                  <label class="custom-control custom-checkbox">
                    <%= f.check_box :remember_me, class: 'custom-control-input' %>
                    <span class="custom-control-label">Remember Me</span>
                  </label>
                </div>
                <div class="col-6 login-forgot-password">
                  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                    <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
                  <% end -%>
                </div>
              </div>
              <div class="form-group login-submit">
                 <%= f.submit "Sign In", class: 'btn btn-primary btn-xl' %> </br>
              </div>
            <% end %>
          </div>
        </div>
        <div class="splash-footer">
          <span>
            <%= render "devise/shared/links" %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>